body {
	background-color: 	#cccccc;
}

.container{
	background-color: white;
	border-radius: 5px;
  padding-left: 10px; 

}

.over-text{
	position: absolute;
	bottom: 8px;
	left: 16px;
}

h1 {
	padding: 20px;
}

button[type="button"]:focus {
	border-color: lightgray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px lightgray;
  outline: 0 none;
}

button[type="button"]:click {
	border-color: lightgray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px lightgray;
  outline: 0 none;
}

.btn-question {
	background-color: lightgrey;
	border-color: white;
	float: right;
	border-radius: 11px;
	display: inline;
	padding:0px;
	margin-top: 9px;
	margin-left: 5px;
	width: 22px;
	height: 22px
}

.form-control:focus {
  border-color: rgb(75,0,130);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(75,0,130);
}


.btn-question:hover {
	background-color: grey;
}

.bubble {
	background-color: lightskyblue;
	border: 2px solid;
	border-color: lightblue;
	border-radius: 10px;
}

.uploader {
	display: block;
	padding:4px 2px;
	width:70px;
	margin:2px 0 20px 10px;
}

.jumbotron {
	padding: 10px;
	margin:0px;
}

.header-image {
	background: white;
	background-image: url("../img/logo.png");
	background-repeat: repeat-x;
	background-size: 150.75px 100px;
	height: 100px;
	padding: 10px;
	
}

#header {
	font-size: 50px;
}

#title {

}

#text {
	font-size: 20px;
}

#subtext {

}


#width, #height {
	 -moz-appearance:textfield;
}

#width::-webkit-inner-spin-button,
#width::-webkit-outer-spin-button,
#height::-webkit-inner-spin-button,
#height::-webkit-outer-spin-button,
#step::-webkit-inner-spin-button,
#step::-webkit-outer-spin-button,
#dstep::-webkit-inner-spin-button,
#dstep::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}

.btn-info + .tooltip > .tooltip-inner {
	background-color:  rgb(75,0,130);
}

/* layout.css Style */
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
